@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}


body{
    height: 100vh;
    width: 100vw;
}



div {

    background: linear-gradient(191.34deg, #17181a -4.95%, #17181a 103.74%);
    border-radius: 39px;
    width: 375px;
    height: 568px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(7,1fr);
    padding: 20px;
    margin: 10px auto 0 auto;
    
}

p {
    font-size: 48px;
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    text-align: right;
    display: grid;
    align-items: end;
}

button {
    font-size: 24px;
    border-radius: 16px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

button:hover {

   opacity: 0.8;
}

button:active {
    opacity: 0.6;
}


.black-button {
    background: #303136;
    
}

.blue-button {
    background: #005DB2;
}

.equal-button {
    background: #1991FF;
}

.gray-button {
    background: #616161;
}

.zero {
    grid-column: 1 / 3;
}

.equal {
    grid-row: 6 / 8;
    grid-column: 4 / 5;
}

p {
    font-size: 38px;
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    text-align: right;
    display: grid;
    align-items: end;
    text-align: end;
}

button {
    font-size: 24px;
    border-radius: 16px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

button:hover {

   opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

.topo {
    /* height: 15vh; */
    /* background-image: linear-gradient(to bottom right, red, yellow, blue, coral, lightsalmon); */
    background-color: #333333;
    height: 10vh;
}

h1{
    margin-top: -30px;
    cursor: pointer;
    text-align: center;
    /* background-image: linear-gradient(to bottom right, red, yellow); */

}

h1:hover{
    color: yellow;
}

h1::before {
    content: "🈳";
}

h1::after {
    content: "🈵";
}

h2 {
    text-align: center;
    color: black;
}



.black-button {
    background: #303136;
    
}

.blue-button {
    background: #005DB2;
}

.equal-button {
    background: #1991FF;
}

.gray-button {
    background: #616161;
}

.zero {
    grid-column: 1 / 3;
}

.equal {
    grid-row: 6 / 8;
    grid-column: 4 / 5;
}

.display {

    width: 250px;
    height: 100px;
    margin: 5px;
    font-size: 50px;
    padding: 5;
    border: none;
    /* border-radius: 10px; */
    /* border-color: rgb(0, 0, 0); */
    cursor: pointer;
    margin-left: 30px;
    background: linear-gradient(191.34deg, #17181a -4.95%, #17181a 103.74%);
    
}

.display:hover{
    opacity: 0.5;
    
}

#display {
    background-color: #ffffff;
    color: white;
    
    
}

.display2 {
    
    color: #d3d3d3;
    opacity: 0.5;
    font-size: 20px;
    border:none;
    background: transparent;
    margin-left: -50px;
}


footer {
    
    bottom: 0px;
    position: fixed;
    background-color: #333333;
    color: #FFF;
    width: 100%;
    height: 3.0rem;
    text-align: center;
    line-height: 95px;
   
}

.container-redes-sociais li img{

    width: 32px;
    height: 32px;
    margin-bottom: 12.5px;

    

}

.container-redes-sociais li{

    display: inline-block;
    margin-left: 10px;
    list-style: none;
   

}

.link ul li {
    height: 48;
    width: 48;
}


@media screen and (max-width: 599px), screen and (max-device-width: 600px) {


    * {
        box-sizing: border-box;
    }

  .topo {

    display: none;

  }
  
  div {

    background: linear-gradient(191.34deg, #17181a -10.95%, #17181a 103.74%);
    border-radius: 39px;
    width: 350px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(7,1fr);
    padding: 7px;
    margin: 80px auto 10px auto;
  }

    h1 {
        font-weight: 40px;
        font-size: 25px;
        line-height: 42px;
        text-align: center;
        
    }

    button {
        font-size: 24px;
        border-radius: 23px;
        border: none;
        margin-top: 20px;
        margin: 10px;
        display: fixed;
    }

    #display {
        background: none;
    }
    
    footer {
        display: none;
    }
}
